:root {
  --main-color: #4d799d;
  --yellow: #f2b124;
  --secondary-color: #233849;
  --font-main: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.navigation {
  position: fixed;
  width: 100%;
  padding: 12px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  z-index: 1000;
}

.navigation__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.navigation__ref {
  text-decoration: none;
  color: white;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}

.navigation__ref:hover {
  color: var(--yellow);
}

.navigation__white-button-wrapper {
  position: relative;
  display: inline-block;
}

.navigation__white-button {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  color: white;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  padding: 0;
}

.navigation__white-button:hover {
  cursor: pointer;
}

.navigation__dropdown-content {
  display: none;
  padding: 6px 6px 0;
  position: absolute;
  left: 0;
  background-color: white;
  width: 171px;
  z-index: 1;
  border-radius: 3px;
  top: calc(100% + 10px);
}

.navigation__dropdown-content ::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 10px;
}

.navigation__phone {
  display: flex;
  gap: 5px;
}

.navigation__phone a {
  border-bottom: 1px transparent solid;
}

.navigation__dropdown-content a {
  color: var(--main-color);
  text-decoration: none;
  display: block;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 10px;
}

.navigation__white-button-wrapper:hover .navigation__dropdown-content {
  display: block;
}

.navigation__dropdown-content .navigation__phone a:hover {
  border-bottom: 1px var(--main-color) solid;
}

.navigation__icons {
  margin-top: 10px;
  height: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation__yellow-button-wrapper {
  position: relative;
}

.navigation__yellow-button {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  color: var(--yellow);
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  padding: 0;
}

.navigation__yellow-button:hover {
  cursor: pointer;
}

.navigation__dropdown-content-yellow {
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 1000;
  border-radius: 3px;
  top: calc(100% + 10px);
}

.navigation__dropdown-content-yellow ::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 10px;
}

.navigation__dropdown-content-yellow a {
  padding: 6px;
  color: var(--main-color);
  text-decoration: none;
  display: block;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}

.navigation__yellow-button-wrapper:hover .navigation__dropdown-content-yellow {
  display: block;
}

.navigation__dropdown-content-yellow a:hover {
  background-color: #53738e;
  color: white;
}

.navigation__burger-button-wrapper {
  display: none;
}

.navigation__burger-button {
  background-color: transparent;
  border: none;
}

.navigation__burger-button:hover {
  cursor: pointer;
}

.navigation__mobile-menu {
  display: none;
  padding: 22px 16px;
  position: absolute;
  left: 0;
  width: 100vw;
  background-color: var(--font-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  z-index: 999;
}

.navigation__mobile-menu--active {
  opacity: 1;
  visibility: visible;
  background-color: var(--main-color);
}

.navigation__mobile-menu ul {
  list-style: none;
  padding-left: 0;
}

.navigation__mobile-ref {
  margin-bottom: 13px;
}

.navigation__mobile-ref a {
  text-decoration: none;
  padding: 15px 0;
  color: white;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}

.navigation__mobile-button-wrapper {
  position: relative;
}

.navigation__mobile-button {
  padding-left: 0;
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  color: white;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}

.navigation__mobile-dropdown-content {
  display: none;
  padding-top: 10px;
  position: absolute;
  width: 100vw;
  left: -16px;
  padding: 16px;
  background-color: var(--main-color);
  z-index: 1;
}

.navigation__mobile-dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  border-bottom: 1px solid transparent;
}

.navigation__mobile-menu-icons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 1px;
  padding: 0;
}

.navigation__mobile-button-wrapper:hover .navigation__mobile-dropdown-content {
  display: block;
}

.navigation__mobile-dropdown-content a:hover {
  border-bottom: 1px solid white;
}

.navigation__mobile-menu-icons a:hover {
  border-bottom: 1px solid transparent;
}

.navigation__button-with-border {
  padding: 3px 6px;
  background: none;
  border: 2px solid var(--yellow);
  border-radius: 3px;
  color: white;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}

.navigation__button-with-border:hover {
  cursor: pointer;
  background-color: var(--yellow);
}

.banner-wrapper {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%),
    url('/public/brest.svg');
  background-size: cover;
  background-position: center 40px;
  height: 850px;
}

.banner {
  padding: 160px 80px;
  width: 700px;
}

.banner__title {
  margin-top: 0;
  color: white;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 56px;
  line-height: 150%;
  margin-bottom: 20px;
}

.banner__text {
  margin: 0;
  color: white;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 60px;
}

.banner__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 193px;
}

.banner__button {
  padding: 8px 35px;
  background-color: var(--yellow);
  border: 2px transparent solid;
  color: white;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}

.banner__button:hover {
  cursor: pointer;
  background-color: white;
  border: 2px var(--yellow) solid;
  color: var(--yellow);
}

.banner__img {
  width: 24px;
  height: 40px;
}

.timetable {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timetable__title {
  margin: 0;
  width: 650px;
  color: var(--secondary-color);
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 30px;
}

.timetable__form {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.timetable__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.timetable__label {
  color: var(--secondary-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.timetable__input {
  background-color: transparent;
  padding: 4px 35px 4px 12px;
  border: 1px #d9d9d9 solid;
  border-radius: 3px;
  z-index: 1;
  color: var(--secondary-color);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.timetable__input:hover {
  cursor: pointer;
}

.timetable__input::placeholder {
  color: #b9b9b9;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.timetable__calendar-icon {
  position: absolute;
  right: 5px;
  top: 32px;
  width: 23px;
  height: 23px;
  z-index: -1;
}

.timetable__select-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.timetable__select {
  appearance: none;
  background-color: transparent;
  color: var(--secondary-color);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding: 9px 6px 9px 12px;
  border: 1px #d9d9d9 solid;
  border-radius: 3px;
  z-index: 1;
}

.timetable__select:hover {
  cursor: pointer;
}

.timetable__select-icon {
  position: absolute;
  right: 12px;
  top: 41px;
  z-index: -1;
}

.timetable__button {
  height: 35px;
  background-color: var(--main-color);
  padding: 4px 72px;
  border: 1px transparent solid;
  border-radius: 3px;
  color: white;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}

.timetable__button:hover {
  cursor: pointer;
  background-color: white;
  border: 1px var(--main-color) solid;
  color: var(--main-color);
}

.event-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  margin-top: 30px;
}

.event-cards__nothing-found {
  color: var(--secondary-color);
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}

.event-card {
  width: 100%;
  padding: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.event-card__left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.event-card__right {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.event-card__date {
  color: var(--secondary-color);
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}

.event-card__text {
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.event-card__price {
  color: var(--secondary-color);
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}

.event-card__button {
  padding: 4px 10px;
  background-color: var(--yellow);
  border: 2px transparent solid;
  color: white;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.event-card__button:hover {
  cursor: pointer;
  background-color: white;
  border: 2px var(--yellow) solid;
  color: var(--yellow);
}

.event-card--inactive {
  color: #727272;
}

.reviews {
  padding: 0 80px;
}

.reviews__title {
  margin: 0;
  text-align: center;
  color: var(--secondary-color);
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 30px;
}

.reviews__slider {
  padding: 5px;
  width: 100%;
  overflow: hidden;
}

.reviews__slides {
  width: 200%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  transition: transform 0.5s ease;
}

.review-card {
  width: 628px;
  padding: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
}

.review-card__img {
  width: 80px;
  height: 80px;
}

.review-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-card__title {
  margin: 0;
  color: var(--secondary-color);
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.review-card__date {
  margin: 0;
  color: #727272;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.review-card__city {
  color: var(--yellow);
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.review-card__rating {
  margin-top: 12px;
  margin-bottom: 10px;
}

.review-card__text {
  margin: 0;
  color: var(--secondary-color);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 14px;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.review-card__text.open {
  display: block;
}

.review-card__button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: #727272;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.review-card__button:hover {
  cursor: pointer;
}

.reviews__buttons {
  margin: 20px 20px 80px;
  display: flex;
  justify-content: end;
  gap: 6px;
}

.reviews__button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__button:hover {
  cursor: pointer;
}

.reviews__button:hover svg {
  fill: none;
}

.reviews__button:hover rect {
  x: 0.5;
  y: 0.5;
  width: 29px;
  height: 29px;
  rx: 2.5;
  fill: white;
  stroke: var(--yellow);
}

.reviews__button:hover path {
  fill: var(--yellow);
}

.footer {
  background-color: var(--main-color);
  padding: 30px 80px;
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 496px;
}

.footer a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid transparent;
}

.footer a:hover {
  border-bottom: 1px solid white;
}

.footer__title {
  margin: 0;
  color: white;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer__phone {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
  color: white;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 10px;
}

.footer__icons {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.scroll-down {
  display: flex;
  flex-direction: column;
}

.scroll-down svg {
  animation: arrow 1.2s infinite;
}

.scroll-down svg:nth-child(2) {
  animation-delay: 0.2s;
}

.scroll-down svg:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes arrow {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.footer__icons a:hover {
  border: none;
}

.footer__copyright {
  color: white;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
}

.footer__text {
  color: white;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.footer__line {
  border: 1px white solid;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .navigation {
    padding: 12px 20px;
  }

  .navigation__menu {
    gap: 15px;
  }

  .timetable__form {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }

  .event-cards {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

@media (max-width: 768px) {
  .navigation__ref {
    display: none;
  }

  .navigation__white-button {
    display: none;
  }

  .navigation__button-with-border {
    display: none;
  }

  .navigation__burger-button-wrapper {
    display: block;
  }

  .banner {
    padding: 207px 16px;
    width: 100%;
  }

  .banner__title {
    font-size: 36px;
  }

  .banner__text {
    font-size: 16px;
  }

  .timetable {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .timetable__title {
    width: 100%;
    font-size: 27px;
  }

  .reviews {
    padding: 0 16px;
  }

  .reviews__title {
    font-size: 27px;
  }

  .reviews__slides {
    width: 400%;
  }

  .review-card {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .review-card__header {
    flex-direction: column;
    gap: 1px;
  }

  .review-card__rating {
    text-align: center;
  }

  .footer__info {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }
}

@media (max-width: 360px) {
  body {
    width: 100vw;
  }

  .navigation {
    padding: 12px 18px;
  }

  .navigation__menu {
    gap: 20px;
  }
}
